
  <h1>User Form</h1>
  <div>
    <input type="text" placeholder="Naimul" value="Name">
    </div>
    <input type= "text" placerholder="1600 Pennsylvania" value="Address">
    <div>
    <input type="text" placeholder="37" value="Age">
    </div>
    <input type="text" placeholder="04/02" value="DOB">
  <div>
    </div>
    <div>
      <input type="text" placeholder="Bangladesh" value="Nationality">
  </div>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  