<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<h1>Login Page</h1>
<form class="example-form">


  <!-- <mat-form-field class="example-full-width"> -->
    <!-- <mat-label>Favorite food</mat-label> -->
    <div>
      <input type="text" placeholder="Ex. Pizza" value="Username">
    </div>
    <div>
      <input type="password" placeholder="Ex. Pizza" value="password">
    </div>
    <div>
      <input type="button" (click)="login()" value="login">
    </div>
    <div>
      <input type="button" (click)="signup()" value="add user">
    </div>
  <!-- </mat-form-field> -->
  </form>


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  </form>